.container{
    display: flex;
    flex-direction: row;
}

.card{
    &--charts{
        -webkit-box-shadow: 10px 13px 20px 0px rgba(0,0,0,0.24);
        -moz-box-shadow: 10px 13px 20px 0px rgba(0,0,0,0.24);
        box-shadow: 10px 13px 20px 0px rgba(0,0,0,0.24);
        
        margin-top: 30px;
    
        padding-bottom:20px;
        padding-left: 10px;
        padding-right: 10px;
    
        width: 66%;
        height: 73vh;
    }

    &--info{
        -webkit-box-shadow: 10px 13px 20px 0px rgba(0,0,0,0.24);
        -moz-box-shadow: 10px 13px 20px 0px rgba(0,0,0,0.24);
        box-shadow: 10px 13px 20px 0px rgba(0,0,0,0.24);
        
        margin-top: 30px;
        margin-left: 20px;
    
        padding-bottom:20px;
        padding-left: 10px;
        padding-right: 10px;
    
        width: 28%;
        height: 73vh;

        &--realtime{
            display: flex;
            flex-direction: row;
            flex-grow: 1;

            &--container{
                flex-grow: 1;
                margin-top: 30px;
                text-align: center;
            }

            &--title{
                font-weight: bold;
                font-size: 16;
            }
        }
    }
}

.btn{
    &--container{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }

    &--style{
        width: 80px;
        height: 80px;

        margin-top: 10%;
        margin-left: 10%;

        cursor: pointer;
    }

    &--title{
        font-size: 15px;
        text-align: center;
        font-weight: bold;
    }
    
}